.game {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.controls {
  display: flex;
  flex-direction: row;
}

.board {
  display: grid;
  width: 998px;
  height: 639px;
  border: 1px solid black;
  grid-template-columns: repeat(25, 40px)
}

.tile {
  box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
  margin: 0;
  width: 40px;
  height: 40px;
  border: 1px solid blue;
  display: flex;
  align-items: center;
  justify-content: center;
}

.closedtile {
  background: lightgrey;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
